$color-gunmetal: #293132;
$color-ube: #8367C7;
$color-plump-purple: #6034B1;
$color-mint-cream: #F7FFF7;
$color-lavander: #D9D0DE;

.login-wrapper {
  width: 800px;
}

.login-header-bar {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px grey;
  background-color: $color-ube;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family:monospace;
  min-width: 635px;
}
.login-form-header{
  margin-left: 10px;
  font-size: 30px;
  padding: 5px;
  font-family: 'Gloria Hallelujah';

}

.login-form-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#f7f7f7 0%, #c1ceb0 90%),
   linear-gradient(to right, #ff6a00 0%, #520f0f 50%),
    url(flowers.jpg) 40px,
    url(flowers.jpg) 40px;
  background-blend-mode: screen, difference, lighten;
  background-position: bottom right;
  background-repeat: no-repeat;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 100px;
  min-width: 635px;
  width: 100%;
}

.login-form-container > span {
  position: absolute;
  align-self: center;;
  display: inline-block;
  vertical-align: middle;
  font-family: 'Gloria Hallelujah';
  font-size: 25px;
  margin-left: 200px;
  margin-top: 40px;
}

.login-form {
  display: flex;
  justify-content: left;
  flex-direction: column;
}

.login-input {
  margin-left: 20px;
}

.login-form-box {
  width: 250px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #d4e1e7;
  padding: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0.8;
}

.login-footer-bar {
  width: 250px;
  margin-left: 20px;
  background-color: $color-lavander;
  border-top: none;
  padding: 20px;
  margin-left: 20px;
  font-size: 13px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;
  background-color: $color-lavander;
  opacity: 0.8;
}

.errors {
  color: red;
  font-size: 12px;
}

 .login-form > label >input[type=text] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   border: 1px solid grey;
   box-sizing: border-box;
   background-color: $color-lavander;
   border-radius: 5px;
}
 input[type=password] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   background-color: $color-lavander;
   border: 1px solid grey;
   box-sizing: border-box;
   border-radius: 5px;
}
 .login-form-box > .btn {
   width: 100%;
   padding: 12px 20px;
   height: 40px;
   margin: 8px 0;
   background-color: $color-plump-purple;
   box-sizing: border-box;
   border-radius: 5px;
   text-align: center;
   text-transform: capitalize;
   color: white;
   font-size: 18px;
 }

 .login-form-box > input[type=button] {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   background-color: $color-plump-purple;
   box-sizing: border-box;
   border-radius: 5px;
   text-align: center;
   text-transform: capitalize;
   color: white;
   font-size: 18px;
   cursor: pointer
 }
