$color-gunmetal: #293132;
$color-ube: #8367C7;
$color-plump-purple: #6034B1;
$color-mint-cream: #F7FFF7;
$color-lavander: #D9D0DE;


.main-nav {
display: flex;
justify-content: space-between;
align-items: center;
padding-top: 20px;
padding-bottom: 20px;
background-color: $color-ube;
margin-right: 10;
margin-left: 10;
min-width: 1000px;
width: 100%;
}

.left-nav,
.right-nav {
 display: flex;
}

.left-nav > ul {
 margin-left: 1px;
 display: flex;
 flex-direction: row;
 padding-left: 15px;
 cursor: pointer;
 font-weight: bold;
 font-family: "Codystar", cursive;
 font-size: 40px;
 transition: background-color 0.3s;
}

.Search-Bar-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 15px;
  vertical-align: middle;
  font-family: 'Meera Inimai';
  font-size: 20px;
}

.Search-Bar-form > .btn{
  height: 30px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 20px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-plump-purple;
}

.btn {
  background-color: $color-plump-purple;
}

.Search-Input {
  background-color: $color-lavander;
  border-radius: 5px;
  height: 30px;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
}

.right-nav > ul {
 font-size: 13px;
 margin-top: auto;
 padding-right: 15px;
 justify-content: right;
}

.right-nav > ul > Link {
  cursor: pointer;

}

.bottom-nav {

}

.bottom-nav > .btn {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 15px;
  width: 150px;
  background-color: $color-plump-purple;
}
