/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self

 */

 @import "base-reset.scss";

 .main-nav {
 display: flex;
 justify-content: space-between;
 padding-top: 10px;
 border-bottom: 1px solid $light-gray;
 }


 .left-nav,
 .right-nav {
 	display: flex;
 }

 .left-nav > ul {
 	margin-left: 1px;
 	cursor: pointer;
 	text-transform: capitalize;;
 	font-family: $sans-serif;
 	font-weight: bold;
 	font-size: 20px;
 	transition: background-color 0.3s;
 }

 .right-nav > ul {
  font-size: 10px;
 	cursor: pointer;
  justify-content: right;
 }
