// Place all the styles related to the guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.guide-header-bar {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 635px;
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 25px;
}

.guide-form-container{
  display: flex;
  flex-direction: column;
  background: #ffffff;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 635px;
  border-radius: 5px;
}

.guide-form-box{
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #e0e0de;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.string-input {
  width: 100%;
  padding: 12px 20px;
  background-color: white;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
}
.textarea-input {
	width: 100%;
	height: 120px;
  background-color: white;
	padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 5px;
  resize: none;
}

.guide-form-box > input[type=submit] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #f8aa2b;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-size: 18px;
}
// .guide-form > input.textarea-input {
//   width: 300px;
//   padding: 12px 20px;
//   margin: 8px 0;
//   border: 1px solid grey;
//   box-sizing: border-box;
//   border-radius: 5px;
// }

.guide-show-header {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 635px;
  text-align: center;
  font-family: 'Baloo Bhaina', cursive;
  font-size: 25px;
  background-color: #f9f9f9;
}

.guide-show-header > h2 {
  font-size: 18px;
}

.guide-full-container {
  display: flex;
  flex-direction: column;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 635px;
  border-radius: 5px;
}

.guide-body{
  display: flex;
  flex-direction: row;
  background: white;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 635px;
  border-radius: 5px;
}


.guide-show-container{
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 75%;
}

.guide-show-container > ul{
  display: flex;
  flex-direction: column;
}

.steps-show {
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
}

.guide-show-container > h1 {
  font-weight: bold;
  font-size: 18px;
}

.guide-creator-info-container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 10px;
  width: 25%;
  height: 25%;
}

.guide-form-box > input[type=button] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #f8aa2b;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-size: 18px;
  cursor: pointer
}

.step-form > input[type=button] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  background-color: #f8aa2b;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-size: 18px;
  cursor: pointer
}


 .guide-list-container {
   display: flex;
   flex-wrap: wrap;
   margin: 50px;
 }

 .guide-list-container > ul {
   display: flex;
   flex-wrap: wrap;
 }

 .guide-list-container > ul > li {
   margin: 10px;
 }

 .guide-index-item-container {
   display: flex;
   flex-direction: column;
   background-color: #f5f5f5;
   font-size: 18px;
 }

 .guide-index-item-container > h2{
   font-size: 14px;
 }
 .guide-index-img {
   height: 200px;
   width: 200px;
 }

 .guide-link:hover {
   text-decoration-line: underline;
   text-decoration-color: blue;
   cursor: pointer;
 }
